.feeds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: center; */
}

.feed-image img {
  max-width: 100%;
}

.feed {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  width: 500px;
  margin: .5em;
  align-self: center;
  flex-basis: 450px;
}

.feed-header {
  display: flex;
  padding: 1em 1em;
}
.feed-header .feed-author-name {
  color: #444;
  flex-grow: 1;
  margin-left: .5em;
  text-decoration: none;
}
.feed-header .feed-time {
  color: #ddd;
  text-decoration: none;
}

.feed-body {
  padding: 1.5em;
  white-space: normal;
}

.feed-footer {
  display: flex;
  margin: -1em 1em 2em 1.5em;
  align-items: center;
  line-height: 1.5;
}

.ny {
  /* input box */
  border: 0px;
  outline: none;
  font-family: 'Lato', san-serif;
  margin: .5em;
  flex-grow: 1;
}

.nx, .nz, .mx {
  color: #ddd;
  font-size: 1.5em;
  cursor: pointer;
}

.nz {
  align-self: flex-start;
  margin-top: 0.2em;
}

.mx {
  color: red;
}

.feed-author-img img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
